@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: -webkit-fill-available;
    }

    body {
        height: -webkit-fill-available;
    }

    /* If using React, set height on the root div as well */
    #root {
        height: -webkit-fill-available;
    }
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT-Medium.woff2') format('woff2');
}
.headline1 {
    font-family: 'SUIT-Bold';
    font-size: 28px;
    line-height: 140%;
}
.headline2 {
    font-family: 'SUIT-Bold';
    font-size: 24px;
    line-height: 140%;
}
.title1 {
    font-family: 'SUIT-Bold';
    font-size: 20px;
    line-height: 140%;
}
.title2 {
    font-family: 'SUIT-Bold';
    font-size: 16px;
    line-height: 140%;
}
.title3 {
    font-family: 'SUIT-Bold';
    font-size: 14px;
    line-height: 140%;
}
.popup-title1 {
    font-family: 'SUIT-Bold';
    font-size: 18px;
    line-height: 140%;
}
.body1 {
    font-family: 'SUIT-Regular';
    font-size: 16px;
    line-height: 150%;
}
.body2 {
    font-family: 'SUIT-Regular';
    font-size: 14px;
    line-height: 150%;
}
.caption1 {
    font-family: 'SUIT-Medium';
    font-size: 12px;
    line-height: 140%;
}
.caption2 {
    font-family: 'SUIT-Medium';
    font-size: 10px;
    line-height: 140%;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.rotate-up-1 {
    transform: rotateX(60deg) translateZ(5px);
}
.rotate-up-2 {
    transform: rotateX(30deg) translateZ(10px);
}
.rotate-up-3 {
    transform: rotateX(30deg) translateZ(10px);
}
.rotate-down-1 {
    transform: rotateX(-30deg) translateZ(10px);
}
.rotate-down-2 {
    transform: rotateX(-60deg) translateZ(5px);
}
.rotate-down-3 {
    transform: rotateX(-60deg) translateZ(10px);
}
